@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  padding: 0.2rem 1rem;
  transition: all 200ms linear;
  margin: auto;
  border-radius: 10%;
}

input, textarea {
  padding: .2rem .5rem;
}

.music-wave {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}


@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

.music-wave span {
  width: 3px;
  height: 100%;
  background-color: #22c55e;        /* tailwind green */
  border-radius: 3px;
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

.music-wave #wave-2 {
  animation-delay: -2.2s; /* Start at the end of animation */
}

.music-wave #wave-3 {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

html, body {
  width: 100%;
  height:100%;
}

.bg-default {
  background: linear-gradient(-45deg, #E6EBE0, #aac8d7, #aecfb7);
  background-size: 400% 600%;
  animation: gradient 4s ease infinite;
}

.bg-dark {
  background: linear-gradient(-45deg, #3c4b53, #324837,  #303f47);
  background-size: 400% 600%;
  animation: gradient 4s ease infinite;
}

.bg-dark-nav {
  background-color: #272727 !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}